body{
    background: #ccc;
}

h1{
    color:black;
}

.inputText{
  padding: 50px;
  background: #ccc;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.error{
    color: red;
}

.good{
    color: green;
}

.bad{
    color: orange;
}